.html {
    max-width: 1080px;
    margin: 0 auto;
    background-color: #ffcccc;
    font-family:Courgette, sans-serif;
}

.body {
    margin: 0 auto;
}

.body img {
    margin-top: 20px;
    min-width: 250px;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar {
    text-align: right;
    margin: 10px;
}

.navbar a {
    text-decoration: underline;
    color: rgb(36, 36, 36);
    font-size: 20px;
    font-weight: bold;
}

.navbar a:hover{
    color: #FF9999;
}

#order-button {
    border-radius: 5px;
    background-color:#ccffff;
    border-style: initial;
    font-size: 16px;
    font-family: Courgette, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

#order-button:hover {
    background-color: #99FFFF;
}

.main {
    text-align: center;
    background-color: #FF9999;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 10px 20px rgb(149, 148, 148);
    border-radius: 10px;
    color: rgb(36, 36, 36);
}

.main-info {
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(36, 36, 36);
}

.product-info {
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(36, 36, 36);
}

.reviews {
    text-align: center;
    background-color: #FF9999;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
    box-shadow: 0px -10px 20px rgb(149, 148, 148);
    border-radius: 10px;
    color: rgb(36, 36, 36);
}

.reviews p {
    padding: 10px;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #ccffff;
    color: rgb(36, 36, 36);
}

.reviews p:hover{
    transform: scale(110%);
    background-color:#99FFFF;
}


.footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
    margin-top: 200px;
    font-size: 17px;
}

.footer a {
    text-decoration: none;
    color: rgb(36, 36, 36);
}

.footer a:hover {
    color: #FF9999;
}
